<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Change Password</h2>
            <form action="/changePassword" method="POST">
                <div class="mb-3">
                  <label for="currentPassword" class="form-label">Current Password</label>
                  <input type="password" class="form-control" id="currentPassword" name="currentPassword">
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="newPassword" name="confirmPassword">
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
            </form>
          </div>
      </div>
     
    </div>
  </div>
</div>
<%- include('partials/footer') -%>