<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5" >
      <div class="col-4">
          <div class="login d-flex flex-column mt-3 justify-content-center p-1">
              <p>Name: <%= user.userName %></p>
              <p>Email: <%= user.email %></p>

              <a href="/logout" class="btn btn-primary mt-2 w-75">Logout</a>
              <a href="javascript:history.back()" class="btn btn-secondary mt-3 w-75">Back</a>
          </div>
          </div>
          <div class="col-8">
            <h2>Add a pet</h2>
            <form action="/pet/createPet" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="animal" class="form-label"><h3>What type of pet do you have?</h3></label>
                    <p><input type="radio" name="animal" value="cat">Cat</p>
                    <p><input type="radio" name="animal" value="dog">Dog</p>
                    <p><input type="radio" name="animal" checked>Other:
                      <input type="text" name="other" value="animal"></p>
              </div>
              <div class="mb-3">
                  <label for="name" class="form-label">Pet name</label>
                  <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="mb-3">
                <label for="dob" class="form-label">Date of birth (MMDDYYYY)</label>
                <input type="number" class="form-control" id="dob" name="dob">
              </div>
              <div class="mb-3">
                <label for="color" class="form-label">Color</label>
                <input type="text" class="form-control" id="color" name="color">
              </div> 
              <div class="mb-3">
                <label for="weight" class="form-label">Weight</label>
                <input type="text" class="form-control" id="weight" name="weight">
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>