<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5" >
    <div class="col-lg-5 col-md-8 col-sm-10 mx-auto">
      <h2 class="text-center">Add a pet</h2>
      <form action="/pet/createPet" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
          <label for="animal" class="form-label"><h3>What type of pet do you have?</h3></label>
          <div class="text-left">
            <p class="px-4" ><input type="radio" name="animal" value="cat">Cat</p>
            <p class="px-4"><input type="radio" name="animal" value="dog">Dog</p>
            <p class="px-4"><input type="radio" name="animal" checked value="animal">Other:
              <input type="text" name="other" value="animal"></p>
          </div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Pet name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
          <label for="dob" class="form-label">Birthday (optional)</label>
          <div class="d-flex flex-row justify-content-space-between">
            <input type="number" class="form-control input-width-20" id="mm" name="mm" placeholder="MM" max="12">
            <input type="number" class="form-control input-width-20" id="dd" name="dd" placeholder="DD" max="31">
            <input type="number" class="form-control input-width-40" id="yyyy" name="yyyy" placeholder="YYYY" max="2023">
          </div>
        </div>
        <div class="mb-3">
          <label for="color" class="form-label">Color</label>
          <input type="text" class="form-control" id="color" name="color">
        </div> 
        <div class="mb-3">
          <label for="weight" class="form-label">Weight in lbs.</label>
          <input type="text" class="form-control input-width-20" id="weight" name="weight"> 
        </div>
        <div class="mb-3">
          <label for="imgUpload" class="form-label">Image</label>
          <input type="file" class="form-control" id="imageUpload" name="file">
        </div>
        <div class="text-center mb-4">
          <button type="submit" class="btn btn-primary btn-submit" value="Upload">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>