/* * {
  border: 1px solid red;
} */

footer {
    padding-top: 40px;
    height: 60px; 
    line-height: 60px; 
  }
  
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 64px;
}

h2 {
  padding: 0 0 1rem 0;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

section {
  font-size: 1rem;
  font-weight: bold;
  margin: 4rem;
  padding-top: 2rem;
}

span {
  font-family: 'Roboto', sans-serif;
}

footer > p {
    font-size: 11px;
  }
  
.login a:hover {
    box-shadow: 0 0 2px black;
  }

.title h3 {
  font-size: 1.5rem;
  font-variant: small-caps;
  padding-left: .4rem;
}

a.pet{
  font-family: 'Roboto', sans-serif;
  font-size: 125px;
  text-decoration: none;
  color: darkgrey;
  font-weight: lighter;
}

div.pet {
  border: 4px solid grey;
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 90px;
  margin: 1rem 1rem;
  text-align: center;
}

div.title {
  width: 125px;
  text-align: center;
}

.center {
  margin: 1rem;
  text-align: center;
}

.down {
  margin: 2rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-decoration: underline;
}
